.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background-color: #f1f5f9;
  width: 100vw;
  height: 15vh;
}
.logo {
  width: 200px;
}
.own{
  font-size: 20px;
  margin-right:20px;
}
.link {
  text-decoration: none;
}
